<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DW_DELTA" connectionString="Data Source=bdrjdw;Persist Security Info=True;User ID=deltaapp;Password=deltaappbdrjdw;Unicode=True" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <appSettings>
    <add key="VersaoSistema" value="2.5.0" />
  </appSettings>
</configuration>